body {
  font-family: Arial;
  background: purple;
  color: gold;
  text-align: center;
}
.top{
  display:flex;
  align-items:center;
  gap:10px;
  background:#0d6efd;
  color:white;
  padding:10px 20px;
  border-radius: 30px; 
  border: 3px solid black;
}

body {
    background-image: url('ChatGPT Image May 26, 2026, 08_34_45 AM.png');
    background-size: cover;          /* Image poori screen par fit ho jaye */
    background-position: center;    /* Image center mein rahe */
    background-repeat: no-repeat;   /* Image repeat na ho */
    background-attachment: fixed;   /* Scroll karne par background wahin rahe */
}
.logo{
  width:50px;
  height:50px;
  border-radius:50%;
}
.contact-card{
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.contact-card h2{
  margin-bottom: 5px;
  color: #222;
}

.tagline{
  color: #777;
  font-size: 14px;
  margin-bottom: 15px;
}


.contact-card a{
  color: #25D366;
  text-decoration: none;
  font-weight: bold;
}

.contact-card a:hover{
  text-decoration: underline;
}

.contact-card .brand{
  margin-top: 20px;
  font-weight: bold;
  color: #444;
}


/* Welcome Animation */
#welcome{
  position: fixed;
  inset: 0;
  background: pink;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color: black;
  z-index: 9999;
}

.welcome-img{
  width:150px;
  height:150px;
  border-radius:50%;
  border:4px solid #fff;
  margin-bottom:15px;
  animation:zoom 1.5s ease;
}

#welcome h1{
  margin:5px;
  animation:down 3.5s ease;
}

#welcome h2{
  margin:5px;
  color: red;
  animation:up 1.5s ease;
}

@keyframes zoom{
  from{transform:scale(0)}
  to{transform:scale(1)}
}

@keyframes down{
  from{opacity:0;transform:translateY( -100px)}
  to{opacity:1;transform:translateY(0)}
}

@keyframes up{
  from{opacity:0;transform:translateY(-30px)}
  to{opacity:1;transform:translateY(0)}
}

/* Timer */
#timer{
  font-size:20px;
  margin: 15px;
}

/* MCQs Container */
#container {
  background: black;
  color: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

button {
  display: block;
  margin: 10px auto;
  background: orange;
  color: white;
  padding: 5px;
  width: 90%;
  cursor:pointer;
}

/* Result Box */
#resultBox{
  display:flex;
  justify-content:center;
  align-items:center;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  z-index:9999;
}

.result-card{
  background:#fff;
  padding:30px;
  width:320px;
  text-align:center;
  border-radius:10px;
  animation:pop 0.8s ease;
}

.pass{
  color:green;
  font-size:26px;
  font-weight:bold;
}

.fail{
  color:red;
  font-size:26px;
  font-weight:bold;
}

@keyframes pop{
  from{
    transform:scale(0);
    opacity:0;
  }
  to{
    transform:scale(1);
    opacity:1;
  }
}



